/*trang about*/
/*
*about
*/
.py-5 .container {
  color: rgb(10, 10, 10);
}
.c4 .col-md-3 p {
  color: rgb(245, 244, 244) !important;
}
.list-unstyled li {
  color: #667791;
}
.thanhvien {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.thanhvien h1 {
  font-family: "Quicksand", sans-serif !important;
  font-weight: bold;
  animation: fade-in 1s ease-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.thanhvien img {
  border-radius: 50%;
  width: 50%;
  animation: fade-in-up 0.8s ease-out forwards;
}
@keyframes fade-in-up {
  0% {
    transform: scale(0.2);
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(5deg);
  }
}
.thanhvien img:hover {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.thanhvien .border {
  margin-top: 30px;
  color: #ff0000 !important;
  border-color: #ff66cc !important;
  background: linear-gradient(
    to top right,
    #fda7a7,
    #99cccc,
    #ffcc99,
    #fecfef
  ) !important;
}
.card-body {
  background: linear-gradient(
    to bottom right,
    #fecfef,
    #008e8e,
    #ef499c,
    #9b64118a
  ) !important;
  border: 1px solid #ff66cc !important;
  box-shadow: 0 4px 8px rgba(255, 102, 204, 0.5);
}
.backgr {
  background-image: linear-gradient(45deg, blue, red);
}
