.btn-sm:hover {
  background: rgb(4, 247, 4) !important;
  color: red !important;
}
.filter-sidebar {
  border-radius: 5px !important;
  background: var(--core-light-gray);
  border: 1px solid var(--core-border);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
/* ? có thể là nhiều nút cho các trang */
.btn-primary {
  border-radius: 10px !important;
  /** căn độ cao cho nút Kết nối ngay
  * * tránh đè lên phần dưới của card */
  margin-bottom: 9px;
  background-color: red;
}
.btn-red{
  background-color: none !important;
  color: red !important;
  font-weight: bold;
}
#menu{
  font-size: 35px !important;
}
.form-check label {
  font-size: 15px;
}
.input-group .btn-primary {
  border-radius: 1px !important;
  /** căn độ cao cho nút Kết nối ngay*/
  margin-bottom: 0px !important;
  background-color: rgb(180, 41, 41);
  box-shadow: 0 4px 10px rgba(225, 27, 27, 0.2);
}
.input-group .btn-primary:hover {
  background-color: rgb(255, 0, 0) !important;
  color: white !important;
}
.col-lg-6 .btn-primary {
  background: rgb(180, 41, 41);
  border: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 10px rgba(225, 27, 27, 0.2);
  margin: 0px;
}
.col-lg-6 .btn-primary:hover {
  background: var(--core-red-dark);
  box-shadow: 0 6px 14px rgba(225, 27, 27, 0.3);
}
.col-lg-6 h1 {
  animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.card-body .card-text span {
  width: 228.766px !important;
}
@keyframes fadeInIcons {
  from {  
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#label{
  color: #ffffff !important;
}
.card-img-top {
  background: none !important;
  background-image: none!important;
  background-color: transparent!important;
}