/** trang linh kiện - components*/
/*
* Thông số cho trang linh kiện
*/
.py-5 .container p {
  color: rgb(12, 12, 12) !important;
}
.card-body h5 {
  color: #cf0909 !important;
}
.card-body p {
  color: #0b0b0b !important;
}

.card-body .card-text {
  color: #f9f5f5 !important;
}
.card-body .small li {
  color: #3b619b !important;
}
/*************************/